{{>head}}

<body>
    <div class="main-content">
        <div class="header">
            <div class="logo-image">
                <a href="/"><img src="img/logo.png" alt="logo"></a>
            </div>
        </div>

        <div class="form-content">
            <h2>Login</h2>
            <form autocomplete="off">
                <input class="form-input" type="email" name="email" id="email" placeholder="Email Id" required="">
                <input class="form-input" type="password" name="password" id="password" placeholder="Password" required="">
                <button class="button">Submit</button>
            </form>
        </div>

        {{>footer}}

    </div>


    <script src="js/script.js"></script>

</body>
</html>