body{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    color: #47525E;
}
.container{
    width: 100vw;
    height: 100vh;
    position: relative;
}
.main-content{
    width: 100vw;
    height: 100vh;
    padding: 40px 72px;
    box-sizing: border-box;
    position: relative;
}
.main{
    display: inline-block;
    width: 55%;
    padding: 40px 72px;
    box-sizing: border-box;
}
.main-image-mobile{
    display: none;
}
.main-image{
    display: inline-block; 
    width: 45%;
    float: right;
}
.main-image img{
    width: 100%;
    height: 99vh;
}
.logo-image{
    display: inline-block;
}
.auth-menu{
    display: inline-block;
    float: right;
    font-size: 22px;
    margin-top: 18px;
}
.logo-image img {
    width: 56px;
    height: 56px;
}
.auth-link{
    text-decoration: none;
    color: #47525E;
    margin-left: 32px;
}
.main-heading {
    margin-top: 80px;
    margin-bottom: 50px;
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    width: 80%;
    text-align: left;
}
.main-button {
    background-color: #4397D6;
    color: #47525E;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    width: 180px;
    padding: 24px;
    text-align: center;
    text-decoration: none;
}
.footer {
    position: absolute;
    bottom: 30px;
    color: #47525E;
    font-size: 16px;
    opacity: 0.7;
    text-align: left;
}
h2{
    margin: 0 0 40px;
    font-size: 32px;
}
.form-content{
    width: 30%;
    margin: 0 auto;
    text-align: center;
}
.form-input{
    display: block;
    width: 100%;
    padding: 12px 20px;
    margin: 20px 0;
    background-color: #FFFFFF;
    border: 1px solid rgb(197, 202, 209);
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
}
textarea{
    font-family: 'Lato', sans-serif;
    max-width: 100%;
    min-width: 100%;
    min-height: 100px;
}
.alert-warning{
    color: red;
}
.alert-success{
    color: green;
}
.button {
    margin-top: 20px;
    background-color: #4397D6;
    color: #47525E;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    width: 120px;
    padding: 12px 30px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;;
}
#addBtn{
    text-decoration: none;
    display: block;
    margin: 20px 0;
    width: 70px;
    text-align: center;
}
.account-info{
    text-align: center;
    margin-top: 30px;
}
.account-info a{
    text-decoration: none;
    color: #4397D6;
}
.header{
    position: relative;
}
.profile-name{
    display: inline-block;
    font-size: 18px;
    position: absolute;
    top: 14px;
    right: 56px;
}
.profile-name a{
    text-decoration: none;
    color: #47525E;
}
#profile-icon{
    cursor: pointer;
}

.small-picture{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    top: 8px;
    right: 16px;
    border: 1px solid rgb(197, 202, 209)

}
#dropdown-icon{
    position: absolute;
    top: 18px;
    right: 0px;
}
.dropdown-menu{
    position: absolute;
    top: 56px;
    right: 0px;
    background-color: #fff;
    box-shadow: 5px 5px 5px #EFF2F7;
    border: 1px solid #EFF2F7;
    width: 120px;
    display: none;
}
.show{
    display: initial;
}
.dropdown-menu a{
    display: block;
    text-decoration: none;
    color: #47525E;
    padding: 8px 10px;
    border-bottom: 1px solid #EFF2F7;
}
.dropdown-menu a:hover{
    background-color: #EFF2F7;
}

.tasks-content h2{
    margin-bottom: 20px;
}
.first-task{
    margin-top: 50px;
    text-align: center;
}
.first-task img{
    margin-top: 30px;
    width: 250px;
}
table{
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    border-collapse: collapse;
}
thead{
    background-color: #EFF2F7;
}
table,th,td{
    border: 1px solid rgb(197, 202, 209);
    padding: 15px;
}

.check-task{
    width: 22px;
    height: 22px;
}

.delete-task, .edit-task{
    color:#ff0000;
    font-size: 22px;
    background: inherit;
    border: none;
    outline: none;
    cursor: pointer;
}
.edit-task{
    color:#4397D6;
}
.profile-content{
    margin-top: 60px;
    display: inline-block;
}
.profile-content img{
    width: 200px;
    height: 200px;
    border: 1px solid rgb(197, 202, 209)
}
.user-name{
    font-size: 20px;
    font-weight: 700;
}
.user-email{
    margin-top: -12px;
    font-size: 18px;
}
.update-form{
    display: inline-block;
    margin-left: 20%;
    width: 40%;
    text-align: left;
}
input[type='file']{
    margin: 10px 0;
}
#viewuser{
    text-decoration: none;
    color: #47525E;
}



@media only screen and (max-width: 768px) {
    .main-image{
        display: none;
    }
    .main{
        width: 100%;
    }
    .main-image-mobile{
        display: initial;
    }
    .main-image-mobile img{
        margin-top: 40px;
        width: 100%;
        height: 400px;
    }
    .form-content{
        width: 80%;
    }
    .update-form{
        margin:50px 0;
        width: 100%;
    }
    .table{
        overflow-x: auto;
    }
    .footer{
        bottom: 0px;
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 414px) {
    .main, .main-content{
        padding: 30px;
    }
    .logo-image img {
        width: 40px;
        height: 40px;
    }
    .auth-menu{
        font-size: 20px;
    }
    .main-heading {
        margin-top: 30px;
        margin-bottom: 50px;
        font-size: 36px;
        line-height: 48px;
        width: 100%;
    }
    .main-image-mobile img{
        height: 180px;
    }
    .main-button{
        padding: 16px 24px;
    }
    .form-content{
        width: 100%;
        margin-top: 30px;
    }
    .first-task h2{
        font-size: 24px;
    }
    .footer{
        bottom: -150px;
    }
}