<div class="main-content">
  
    <%- include ("../partials/header") %>
  
    <div class="form-content">
        <h2>Add task</h2>

        <form method="POST" action="/users/tasks/add" autocomplete="off">
            <input class="form-input" type="text" name="name" id="name" placeholder="Name">
            
            <textarea class="form-input" name="description" id="description" placeholder="Description"></textarea>
            <button class="button">Add</button>
        </form>
    </div>


</div>

<script src="/js/script.js"></script>
