<div class="main-content">

    <%- include ("../partials/header") %>

    <div class="form-content">
        <h2>Update task</h2>

        <form action="/users/tasks/update" method="POST" autocomplete="off">
            <input class="form-input" type="text" name="name" id="name" placeholder="Name" value="<%= task.name %>">
            <textarea class="form-input" name="description" id="description" placeholder="Description"><%= task.description %></textarea>
            
            <input type="hidden" name="id" value="<%= task._id %>">
            <button class="button">Update</button>
        </form>
    </div>


</div>

<script src="/js/script.js"></script>
