<div class="main-content">
    <div class="header">
        <div class="logo-image">
            <a href="/"><img src="/img/logo.png" alt="logo"></a>
        </div>
        <div class="profile-name">
            <a href="/users/profile"><%= user.name %></a>
        </div>
        <div id="profile-icon">
            <img class="small-picture" src="/img/picture.jpg" alt="profile">            
            <i id="dropdown-icon" class="fa fa-caret-down" aria-hidden="true"></i>
        </div>

        <div class="dropdown-menu">
            <a href="/users/profile">Profile</a>
            <a href="/users/tasks">Tasks</a>
            <a href="/users/logout">Logout</a>
        </div>
    </div>


    <div class="form-content">
        <h2>Update task</h2>

        <form action="/users/tasks/update" method="POST" autocomplete="off">
            <input class="form-input" type="text" name="name" id="name" placeholder="Name" value="<%= task.name %>">
            <textarea class="form-input" name="description" id="description" placeholder="Description"><%= task.description %></textarea>
            
            <input type="hidden" name="id" value="<%= task._id %>">
            <button class="button">Update</button>
        </form>
    </div>


</div>

<script src="/js/script.js"></script>
